.ae-stage-direction-image-type, .ae-stage-direction-image-frame {
  @extend .ae-unselectable
}

.ae-stage-direction-image-type {
  &.ae-figure {
    z-index: 10;

    position: absolute;
    height: 100%;
    width: 100%;

    .ae-animation-box-wrapper {
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
    }

    .ae-stage-direction-image-frame {
      max-width: none;
    }
  }

  &.ae-cover {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;

    .ae-stage-direction-image-frame, .ae-stage-direction-image-frame-container, .ember-animation-box-active-instance {
      height: 100%;
      width: 100%;
    }

    .ae-stage-direction-image-frame {
      object-fit: cover;
      object-position: 50% 50%;

      color: transparent;
    }
  }
}
