.ae-stage-direction-image, .ae-stage-direction-image-canvas {
  @extend .ae-unselectable
}

.ae-stage-direction-image {
  position: absolute;
  perspective: 100px;
  height: 100%;
  width: 100%;

  .ae-stage-direction-image-canvas {
    display: block;

    &.ae-figure {
      z-index: 10;
    }
  }

  .ae-animation-box-wrapper {
    position: absolute;
    bottom: 0;
  }
}
